<!-- inventory_page.html -->
{% extends 'base.html' %}
{% block content %}
    <div class="header">
        <h1> Inventory </h1>
    </div>
     <div class="content-inventory">
     <div style="overflow: auto; height: 410px" >
    <table style="width: 100%;">
        <thead>
        <tr>
            <th>GST Number</th>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Cost</th>
        </tr>
        </thead>
        <tbody>
        {% if inventory_items %}
            {% for item in inventory_items %}
                <tr>
                    <td>{{ item.gst_number }}</td>
                    <td>{{ item.product_name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.cost }}</td>
                    <td>{{ item.total_cost }}</td>
                    <td>{{ item.date }}</td>
                </tr>
            {%  endfor %}
        {% else %}
            <td > No items present in inventory </td>
        {%  endif %}
    </tbody>
    </table>
    </div>
     </div>
{% endblock %}